USER = "vagrant"
PROJECT_ROOT = "/home/%s/bostongreenmap" % USER

CLIENT_PATH = PROJECT_ROOT + "/client"
DJANGO_APP_PATH = PROJECT_ROOT+"/bostongreenmap"
CURATE_PATH = PROJECT_ROOT+"/media/curated_parkimages"