<div>
  <b>About</b>
	<p>Boston Green was created with a simple goal: to help people get outside and enjoy Greater Boston’s many parks and recreational facilities. It combines general park information with detailed lists of facilities they contain, as well as showing all walking and cycling paths within the parks and across the region. A beta version of the website is live, and we are interested in feedback and new partners as the project evolves. The first prototype was developed for the Boston Globe’s Hack Day Challenge in February 2011. The Metropolitan Area Planning Council with support from the Trustees Collaborative for Parks, and in collaboration Code for Boston have continued to develop the site.</p>
</div>