<div>
  <p>Contact: <a href="mailto: hstclair@mapc.org">Holly St. Clair</a></p>
  <p>(617) 933-0717</p>
  </br> 
  <a href ="https://github.com/codeforboston/bostongreenmap" target="_blank">Fork us on Github</a>
</div>

