<div class="row footer-content">
  <div class="col-md-6">
    <div class="footer-text">What people are saying</div>

    <div class="twitter-container" id="twitter-container">
       <a class="twitter-timeline" href="https://twitter.com/hashtag/boston" data-widget-id="587367896613007360">#bostonparks Tweets</a> 
    </div>
  </div>
  <div class="col-md-6">
    <div class="footer-text">Latest Park Pic: {{latest_image.name}}</div> 
    <a href="#parks/{{latest_image.slug}}">
      <img src="{{latest_image.image.src}}">
    </a>
    <div class="footer-url footer-text"><b>BostonGreenSpace.org</b></div>
    <div class="footer-address footer-text">60 Temple Place | Boston, Massachussetts 02111</div>
    <div class="footer-number footer-text">617.933.0700 | info@bostongreenspace.org</div> 

  </div>
</div>