<div class="logo"></div>
<div class="sitename"><a>BostonGreenMap</a>.org</div>
<div class="navlinks">
	<div id="nav-about">ABOUTz</div> | 
	<div id="nav-mission">MISSION</div> | 
	<div id="nav-contact">CONTACT</div>
</div>