    <nav class="navbar navbar-default" id="boston-green-navbar-container" role="navigation">
      <div class="container-fluid" id="boston-green-navbar-content">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo"></div>
          <div class="sitename"><b>BostonGreenMap</b>.org</div>
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="boston-green-navbar">
              <li class="navlinks"><a href="#">About</a></li>
              <li class="navlinks"><a href="#">Mission</a></li>
              <li class="navlinks"><a href="#">Contact</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div>
    </nav>

