<div class="logo"></div>
<div class="sitename" id="nav-index"><b><a>BostonGreenMap</a>.org</b></div>
<div class="navlinks">
	<div class="navlink" id="nav-about">ABOUT</div> 
	<div class="navlink" id="nav-mission">MISSION</div>
	<div class="navlink" id="nav-contact">CONTACT</div>
</div>
