<div class="logo"></div>
<div class="sitename" id="nav-index"><a>BostonGreenMap</a>.org</div>
<div class="navlinks">
	<div id="nav-about">ABOUT</div> | 
	<div id="nav-mission">MISSION</div> | 
	<div id="nav-contact">CONTACT</div>
</div>