<div class="logo"></div>
<div class="sitename"><b>BostonGreenMap</b>.org</div>
<div class="navlinks">
	<div id="nav-about">ABOUT</div> | 
	<div id="nav-mission">MISSION</div> | 
	<div id="nav-contact">CONTACT</div>
</div>