<img src="http://127.0.0.1:8000/static/img/4-JamaicaPondJP.JPG" class="park-splash" />
<div class="center-content">
  <div class="park-content">
    <div class="park-information">
      <div class="park-title">
        {{name}}   
      </div>
      <div class="park-description">
        {{description}}
      </div>  
    </div>
  </div>
</div>