{% extends 'base.html' %}
{% block title %}Explore Boston Metro Area Parks and Greenspaces{% endblock %}
{% block meta %}
		<meta name="description" content="{% block meta_description %}Explore Boston parks and greenspaces with interactive maps and trip planner. Search by location or activity and discover the best of Boston parks.{% endblock %}" >
		<meta name="keywords" content="{% block meta_keywords %}explore boston, explore boston parks, find parks in boston metro area, parks in boston, boston sports fields, boston area greenspaces, {% endblock %} " >
{% endblock %}


{% block bodyclass %} 
<body class="home">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">

        // // global map parameters
        // bp.mapconf = {
        //     "zoomtoparks": true,
        //     "showfacilities": true
        // }
        // // load default map
        // bp.init_map("basemap");

        // // top margin
        // bp.adjust_layerswitcher();
            
    </script>
{% endblock %}
