body {
  font-family: "Domine";
}

.navbar {
  margin-bottom: 0;
  font-family: "Istok Web";
}

.sitename {
  display:inline-block;
  font-size: 30px;
  color: rgb(12, 102, 49);
  position: relative;
  bottom: 11px;
}
.logo {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  border: 5px solid rgb(13, 103, 52);
  background-color: #9cb428;
  box-sizing: content-box;
}

.template-all {
  display: none;
}

#no-results {
  display: none;
}

.carousel-image {
  max-height: 1000px;
}

.btn-group {
  margin: 3px;
}

.navbar-header {
  height: 100px;
  top: 40px;
  position: relative;
}

@media (max-width: 600px) {
  .sitename {
    font-size: 16px;
  }
  .logo {
    width: 25px;
    height: 25px;
  }
  .navbar-header {
    height: 50px;
    top:0;
  }
}

#bs-example-navbar-collapse-1 {
  height: 100px;
  top: 40px;
  position: relative;
}

.navbar-brand {
  display:inline-block;
  font-size: 30px;
  color: rgb(12, 102, 49);
  position: relative;
  bottom: 11px;
}

.floating-text {
  background-color: rgba(0,160,0,0.8);
  position: absolute;
  z-index: 15;
  color: white;
  margin: 5%;
  padding: 2%;
}

body {
 margin: 0px;
}
.viewer {
  left: 10%;
  width: 80%;
  position: relative;
  margin-top: 25px;
}
.name {
  background: white;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 4px;
  bottom: 10px;
  font-family: Domine;
  font-size: 12px;
  left: 10px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  padding: 5px 3px;
  text-shadow: 0px 1px #aaa;
  height: 1.2em;
}
.container {
  float: left;
  margin: 2px;
  position: relative;  
}

.finder {
  background-image: url('http://www.textureking.com/content/img/stock/big/DSC_1693.JPG');
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10%;
}
.finder-title {
  font-family: Domine;
  font-size: 30px;
  color: white;
  position: relative;
  display: inline-block;
}
.header {
  font-family: "Istok Web";
  padding-top: 25px;
  padding-left: 10%;
}

.gobutton {
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  font-family: "Domine";
  color: white;
  background-color: green;
}
.navlinks {
  text-decoration: none !important;
  color: rgb(47, 127, 84) !important;
}