h6 {
  color: #000000;

}

h1{color: white;}


h2 {
  color: #00DC00;
}


h4
{
    font-size: 16px;
    color: #757575;
}

h5 {
  font-size: 14px;
  color: black;
  font-weight: bold;
  
}


.menu-box-inner a {
text-decoration: none;
}


a:hover h1,
a:active h1
{
    color: #666666;
}

a:link h4,
a:visited h4
{
    color: black;
    text-decoration: none; 

}

a:hover h4,
a:active h4
{
    color: #666666;
}




.navbar-inner {
  background-color: #00DC00;
  min-height: 65px;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar .nav {

  float: right;
padding-top: 25px;

  
}

.navbar .nav > li > a {
  font-family: font-family: 'PT Sans',sans-serif;
    font-size: 18px;
  line-height: 20px;
padding: 10px 15px 11px;
  }
  
ul.nav li.parent
{
padding-top: 10px;
}

ul.nav ul.actions {
margin-left: 10px;
}

ul.nav ul.actions li {
display: inline;
font-family: 'PT Sans', sans-serif;
font-size: 16px;
line-height: 20px;
}


ul.nav ul.actions {
display: inline;
}

ul.nav ul.actions li a:link,
ul.nav ul.actions li a:visited {
color: black;
padding: 0 15px;
text-decoration: none; 

}


ul.nav ul.actions li a:hover,
ul.nav ul.actions li a:active {
color: #666;
}

  
.span7 > .hero-unit {
  padding: 00px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.well {

  background-color: #ffffff;
  border: 1px none #eee;
  border: 1px none rgba(0, 0, 0, 0.05);
  }
  
  
.span3 > .well
{
padding-top: 0;
}


/*  HOME PAGE  */

/* HOME PAGE MENU BOX  */

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    background-image: url(images/fpo-map.jpg);
    background-position:  50% 50%;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.menu-box {
    z-index: 30;
    border-radius: 15px 15px 15px 15px;
    margin: 10px auto;
    padding: 0;
    position: relative;
    width: 600px;
    z-index: 20;
    height: auto;
    }
    
.menu-box.opacity {
    background-color: #000000;
    opacity:.5; /*mozilla firefox*/
    filter:alpha(opacity:50); /*internet explorer*/
    box-shadow: 0 0 10px #000000;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto !important; 
}

.menu-box-inner {
	overflow: auto;
	padding: 20px 50px 40px;
	z-index: 30;
	position: relative;
	height: auto;
}


.menu-box-item {
    text-align: center;
    background-color: #00dc00; /*GREEN */
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 20px 25px;
    margin: 0px 0 22px 0;
    width: 450px;

}

.menu-box-item:first-child
{
margin-top: 22px;
}

.menu-box-item form select {
    width: 100%;
    margin-top: 10px;
}

.neighborhood .menu-box-item
{
    background-color: white;
    margin-top: 22px;
    text-align: left;
}


.neighborhood .menu-box.opacity
{
height: auto;
}

.menu-box-item .menu-box-hotdog {
    text-align: center;
    background-color: #00dc00; /*GREEN */
    border-radius: 15px 15px 15px 15px;
    box-shadow:none;
    padding: 20px 25px;
    margin: 22px 0 15px 0;
    width: 400px;

}


