

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow:hidden;
}

/* Navbar
-------------------------------------------------- */

.navbar-inner
{
  background-color: #00DC00;
  background-image: none;
}

.navbar-search {
  margin-top: 8px;
}

.navbar-search .search-query {
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-search li {
  margin-right: 10px;
}


/* Map
-------------------------------------------------- */

#map_canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leaflet-control-geoloc {
  background-image: url("../img/location.png");
  background-color: #fff;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}