html,
body { height: 100%; }
body { text-align: center; }
h1 { color: white; }

h2
{
	color: #00DC00;
	font-size: 22px;
	line-height: 26px;
}

.explore h2
{
	color: #00DC00;
	font-size: 22px;
	line-height: 24px;
	padding-bottom: 8px;
	padding-top: 10px;
}

h4
{
	font-size: 16px;
	color: #757575;
}

h4 a:link,
h4 a:visited
{
	font-size: 16px;
	color: #757575;
	font-weight: bold;
	margin-top: 10px;
	display: block;
}

h4 a:hover,
h4 a:active { text-decoration: underline; }

.home h4
{
	color: #000000;
	padding-bottom: 4px;
}

h5
{
	font-size: 14px;
	color: black;
	font-weight: bold;
}

h6 { color: #000000; }
.menu-box-inner a { text-decoration: none; }
a:hover h1,
a:active h1 { color: #666666; }

a:link h4,
a:visited h4
{
	color: black;
	text-decoration: none;
}

a:hover h4,
a:active h4 { color: #666666; }

.navbar-inner
{
	background-color: #00DC00;
	min-height: 65px;
	background-image: none;
	background-repeat: repeat-x;
	filter: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.navbar .nav
{
	float: right;
	padding-top: 25px;
}

.navbar .nav-collapse.in .nav { float: left; }
.navbar .nav-collapse { text-align: left; }

.navbar .nav > li > a
{
	font-family: font-family: 'PT Sans',sans-serif;
	font-size: 18px;
	line-height: 20px;
	padding: 10px 15px 11px;
}

.navbar .nav > li > a:hover { color: yellow; }
ul.nav li.parent { padding-top: 5px; }
ul.nav ul.actions { margin-left: 10px; }

ul.nav ul.actions li
{
	display: inline;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
}

ul.nav ul.actions { display: inline; }

ul.nav ul.actions li a:link,
ul.nav ul.actions li a:visited
{
	color: black;
	padding: 0 15px;
	text-decoration: none;
}

ul.nav ul.actions li a:link,
ul.nav ul.actions li a:visited
{
	color: black;
	padding: 0 5px;
	text-decoration: none;
}

ul.nav ul.actions li a:hover,
ul.nav ul.actions li a:active { color: #666; }

.span7 > .hero-unit
{
	padding: 00px;
	margin-bottom: 20px;
	background-color: #ffffff;
}

.well
{
	box-shadow: none;
	background-color: transparent;
	border: none;
}

.span3 > .well { padding-top: 0; }

/* Map
-------------------------------------------------- */

#map_canvas
{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#map_canvas.detail
{
	position: relative;
	top: 0px;
	height: 400px;
}

.menu-box
{
	border-radius: 15px 15px 15px 15px;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 20;
	height: 100%;
}

.menu-box.opacity
{
	background-color: #000000;
	opacity: .5;
	/*mozilla firefox*/
	filter: alpha(opacity:50);
	/*internet explorer*/
	box-shadow: 0 0 10px #000000;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto !important;
}

.menu-box-inner
{
	overflow: auto;
	padding: 30px 30px;
	z-index: 30;
	position: relative;
	height: auto;
}

.home .menu-box-inner
{
	padding: 0;
	height: 100%;
}

.neighborhood .menu-box-inner
{
	padding: 0;
	height: 100%;
}

.menu-box-item
{
	background-color: white;
	margin-top: 22px;
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	padding: 10px 20px;
	margin: 0;
	/*    width: auto;
*/
}

.home .menu-box-item { margin: 0px 0 22px 0; }
.menu-box-item form { margin-bottom: 10px; }

.container-fluid.middle
{
	max-width: 600px;
	margin: 0 auto;
	text-align: left;
}

.play .container-fluid.middle,
.explore .container-fluid.middle,
.plan .container-fluid.middle
{
	margin: 20px;
	width: auto;
	max-width: 400px;
}

.neighborhood .container-fluid.middle { height: 80%; }

.park .container-fluid.middle
{
	max-width: 1200px;
	margin-top: 20px;
}

.home .container-fluid.middle
{
	padding-top: 0px;
	text-align: center;
	height: 95%;
}

.home .container-fluid.middle:before,
.neighborhood .container-fluid.middle:before
{
	content: "";
	display: table;
	height: 20px;
}

.row-fluid
{
	height: 100%;
	width: 100%;
}

.row-fluid > .span12
{
	height: 100%;
	width: 100%;
}

.home .menu-box-item
{
	text-align: center;
	background-color: #00dc00;
	/*GREEN */
}

.menu-box-item form select
{
	width: 100%;
	margin-top: 10px;
}

.neighborhood .menu-box-item
{
	bottom: 30px;
	left: 40px;
	margin: 0;
	padding-bottom: 0;
	position: absolute;
	right: 40px;
	top: 30px;
}

.neighborhood .menu-box.opacity { height: auto; }

.scrollable-wrapper
{
	position: absolute;
	bottom: 30px;
	left: 40px;
	right: 40px;
	top: 30px;
	overflow: auto;
	padding-right: 20px;
}

.verticalscroll
{
	bottom: 120px;
	left: 20px;
	overflow: auto;
	position: absolute;
	right: 20px;
	top: 50px;
}

.menu-box-item .menu-box-hotdog
{
	text-align: center;
	background-color: #00dc00;
	/*GREEN */
	border-radius: 15px 15px 15px 15px;
	box-shadow: none;
	padding: 15px 25px;
	margin: 0;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

body.play form { margin-bottom: 0; }

#parklist h3
{
	float: left;
	font-size: 16px;
	line-height: 18px;
	width: 50%;
	padding: 0px 0;
	clear: both;
}

#parklist p { display: none; }

#parklist .add-trip-button
{
	float: right;
	margin: 0px 0;
}

#parklist .parkitem
{
	clear: both;
	display: block;
	padding: 10px 0;
	width: 100%;
}

#parklist
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#parklist li
{
	margin: 10px 0px;
	padding: 0;
	padding-left: 0;
}

#parklist li h3 { cursor: -webkit-grabbing; }

/* #parklist li span { position: absolute; margin-left: -1.3em; } */
ul.ui-sortable li
{
	background-image: url('/static/parkmap/img/arrow14x20.gif');
	background-repeat: no-repeat;
	background-position: 0 30%;
}

ul#parklist.ui-sortable li h3 { padding-left: 25px; }

.navbar
{
	margin-bottom: 1px;
	opacity: .8;
	/*mozilla firefox*/
	filter: alpha(opacity:80);
	/*internet explorer*/
	position: relative;
	z-index: 10;
}

.neighborhood-park
{
	display: block;
	padding: 0 10px 10px;
}

.neighborhood-park > h4 { margin-bottom: 4px; }

.facility
{
	display: inline;
	font-size: 28px;
	line-height: 38px;
	background-image: url('/static/img/activities-icons.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}

.facility img
{
	display: inline;
	height: 38px;
	width: 32px;
}

.park .parkdesc p { margin: 9px 0 0; }
.park .parkdesc p:first-child { margin: 0; }
.policy .span12 { padding: 20px 0 0; }

/* HIGHTLIGHT CURRENT PAGE */
body.play .navbar .nav > li > a.play { color: yellow; }
body.explore .navbar .nav > li > a.explore { color: yellow; }

/* Park Stories */
#stories h2
{
	color: #f8a300;
	padding-bottom: 10px;
}

.home #stories h2
{
	font-size: 20px;
	padding-bottom: 4px;
}

.container-fluid.middle .newstory
{
	background-color: white;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	padding: 20px;
}

#new_story { margin-bottom: 0; }

.newstory form label
{
	float: left;
	padding-right: 10px;
}

.newstory form #id_text
{
	height: 70px;
	width: 80%;
}

.newstory input[type="text"] { width: 80%; }
.newstory form ul li { float: left; }

.parkstory
{
	display: block;
	margin-bottom: 20px;
}

.parkstory .storytitle
{
	font-size: 16px;
	line-height: 18px;
	padding-left: 30px;
	width: 70%;
}

.parkstory .storytext { text-indent: 30px; }
.parkstory .storytext p { margin: 9px 0 0; }
.parkstory .storytext p:first-child { margin: 0; }

.parkstory .rating_4
{
	background-image: url('/static/parkmap/img/ratings/rating-idea.jpg');
	background-repeat: no-repeat;
}

.parkstory .rating_1
{
	background-image: url('/static/parkmap/img/ratings/rating-good.jpg');
	background-repeat: no-repeat;
}

.parkstory .rating_2
{
	background-image: url('/static/parkmap/img/ratings/rating-neutral.jpg');
	background-repeat: no-repeat;
}

.parkstory .rating_3
{
	background-image: url('/static/parkmap/img/ratings/rating-poor.jpg');
	background-repeat: no-repeat;
}

.home .parkstory .rating_4
{
	background-image: url('/static/parkmap/img/ratings/rating-idea.png');
	background-repeat: no-repeat;
}

.home .parkstory .rating_1
{
	background-image: url('/static/parkmap/img/ratings/rating-good.png');
	background-repeat: no-repeat;
}

.home .parkstory .rating_2
{
	background-image: url('/static/parkmap/img/ratings/rating-neutral.png');
	background-repeat: no-repeat;
}

.home .parkstory .rating_3
{
	background-image: url('/static/parkmap/img/ratings/rating-poor.png');
	background-repeat: no-repeat;
}

.newstory .rating_0, .newstory .rating_1, .newstory .rating_2, .newstory .rating_3
{
	background-position: 16px 0;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 25px;
	padding: 0;
	width: 58px;
}

.newstory .rating_3 { background-image: url('/static/parkmap/img/ratings/rating-idea.jpg'); }
.newstory .rating_0 { background-image: url('/static/parkmap/img/ratings/rating-good.jpg'); }
.newstory .rating_1 { background-image: url('/static/parkmap/img/ratings/rating-neutral.jpg'); }
.newstory .rating_2 { background-image: url('/static/parkmap/img/ratings/rating-poor.jpg'); }
.newstory .rating_0 label, .newstory .rating_1 label, .newstory .rating_2 label, .newstory .rating_3 label { font-size: 0; }

.newstory p
{
	display: block;
	clear: both;
	position: relative;
}

a.sharestory
{
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 9px;
	padding: 4px;
	background-color: #efefef;
	margin-right: 10px;
}

.nostories { margin-bottom: 10px; }
.home #stories { text-align: left; }
.home .storytitle, .home .storytext { color: white; }

ul.errorlist
{
	display: block;
	margin: 0;
}

ul.errorlist li
{
	display: block;
	color: red;
	font-weight: bold;
}

.error
{
	color: red;
	font-weight: bold;
}

#prev_next_buttons
{
	clear: both;
	display: block;
	padding: 16px 4px;
}

#next_link { float: right; }
#next_link:after { content: " »"; }
#prev_link { float: left; }
#prev_link:before { content: "« "; }

ul.actions li img
{
	width: 30px;
	height: 30px;
}

#minimizer, .read { cursor: pointer; }

#maximizer
{
	cursor: pointer;
	display: block !important;
	line-height: 0;
	padding: 3px 10px;
}

.iwindow { text-align: left; }
.home button.btn, input.btn[type="submit"] { margin: 0 auto; }
input#walking_search, input#bike_search { background-color: #00DC00; }

.flag-inapp
{
	float: right;
	font-size: 9px;
	cursor: pointer;
}

.home .flag-inapp { color: white; }
.icon-flag { float: left; }
