@media (max-width: 480px) {
  body .well {
  background-color: transparent; 
  padding: 0;
  } 
  body .menu-box-inner {
  padding: 0px 20px;
  } 
  body .menu-box {
  padding: 0;
  }  
  body {
  padding: 0;
  } 
  body .container-fluid { 
  padding: 10px;
  }
  body .container-fluid.middle { 
  padding-top: 5px;
  margin-top: 0px;
  }
  
  body .menu-box-item
  {
  padding: 10px;
  }
  
  body .menu-box-hotdog h1
  {
  font-size: 20px;
  padding: 0px;
  }
  
  #map_canvas.detail {
    height: 300px;
  }
  
  
    .play .container-fluid.middle, .explore .container-fluid.middle, .plan .container-fluid.middle {
    margin: 0;
    }
    
    
  .neighborhood .container-fluid.middle
	{
	height: auto;
	}


.neighborhood .menu-box-item {
    border-radius: 0 0 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    }
    .neighborhood .menu-box.opacity {
    display: none;
    }
    
    
    .verticalscroll {
    bottom: 0;
    left: 0;
    overflow: visible;
    position: relative;
    right: 0;
    top: 0;
    }

.menu-box-item .menu-box-hotdog {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px 0;
    position: relative;
    right: 0;
    }
    
#parkname
{
width: 60%;
}

#neighborhood_neighborhood
{
width: 90%;
}

#facilitylist
    white-space: nowrap;

}

 @media (max-width: 767px) {
  body {
  padding: 0;
  } 
}
@media (min-width: 768px) and (max-width: 979px) {
	.navbar .nav > li {
	float:left;
	}
	.navbar .btn, .navbar .btn-group {
	display: none;
	}
	.nav-collapse {
    height: 0;
    overflow: visible;
    }
