{% extends 'parkmap/base.html' %}
{% block title %}Explore Boston Metro Area Parks and Greenspaces{% endblock %}
{% block meta %}
		<meta name="description" content="{% block meta_description %}Explore Boston parks and greenspaces with interactive maps and trip planner. Search by location or activity and discover the best of Boston parks.{% endblock %}" >
		<meta name="keywords" content="{% block meta_keywords %}explore boston, explore boston parks, find parks in boston metro area, parks in boston, boston sports fields, boston area greenspaces, {% endblock %} " >
{% endblock %}


{% block bodyclass %} 
<body class="explore">
{% endblock %}
{% block content %} 
<div id="map_canvas"></div>
<div class="container-fluid middle">
  <div class="row-fluid show-grid bpa-draggable">
  <div class="span12">
    <div class="well menu-box clearfix">
    <div class="menu-box opacity">
     <span id="maximizer"><i id="bpashowimg" class="bpa-hide icon-resize-full icon-white"></i></span>
    </div>
    <div class="menu-box-inner bpa-hideable">
      <div class="menu-box-item">
        <h2>Zoom To Neighborhood</h2>
        <select id='neighborhood_neighborhood'>
        <option SELECTED value="">Select Your Neighborhood/Town</option>
         {% for neighborhood in neighborhoods %}<option 
         {% ifequal neighborhoodpassed neighborhood %} SELECTED=SELECTED{% endifequal %} 
         value="{{neighborhood.id}}">{{neighborhood.name}}</option>
         {% endfor %}
        </select>
      <br>
      <h2> Search by Facility Type</h2>
      <div id="facilitylist">
      {% for parktype in parktypes %}
          <input type="checkbox" name="parktype_{{parktype.id}}" id="parktype_{{parktype.id}}">
          {{parktype.name}}
          <img src="/static/parkmap/img/icons/{{parktype.name|slugify}}.png" id="p_{{parktype.id}}" title="{{parktype.name}}" class="parktype_icon">
          <br>
      {% endfor %}
        <h2> Search by Park Name</h2>
        <input type="text" id="parkname" placeholder="Park Name(Optional)">
        <input type="button" id="explore_search" value="Search" style="float:right;">
      <div id="parklist" class="clearfix"></div>
      </div>
  <span id="minimizer" class="bpa-hide" ><i id="bpahideimg" class="icon-resize-small"></i>&nbsp;&nbsp;Minimize&nbsp;Window</span>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
{% endblock %} 

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">

        bp.mapconf = {
            "zoomtoparks": true
        }
        $(".parktype_icon").click(function(){
            var im = $(this).prop('id').substr(2);
            var $checkbox = $("#parktype_"+im);
            if ($checkbox.attr('checked') != "checked"){ 
                $checkbox.attr('checked','checked');
            } else {
                $checkbox.removeAttr('checked');
            }

        });
        function park_search_name(){
          var parkname = $("#parkname").val();
          if(parkname){
            bp.loadparks({
              "name__icontains": parkname
            });
          }
        }

        $(document).ready(function(){
          $("#parkname").keypress(function(e) {
              if(e.which == 13) {
                  $(this).blur();
                  $("#explore_search").focus().click();
              }
          });

          $("#explore_search").click(function(){ park_search_name(); });
          $('#neighborhood_neighborhood').bind("keypress change",(function() {
          }));

          $('.activity_checkbox').live('change', function(){
            bp.explore_filter_parkactivities();
          });

          bp.adjust_layerswitcher();

        });
    
    </script>
{% endblock %}
