{% extends 'parkmap/base.html' %}
			{% block title %}Explore Parks and Green Spaces in the Boston Metro Area{% endblock %} 

{% block meta %}
		<meta name="description" content="{% block meta_description %}Interactive maps from Boston Parks Advocates allow you to explore parks, athletic fields, playgrounds, greenspaces, gardens and more in the Boston Metro Area. A trip planner provides directions for driving and biking in Boston.{% endblock %}" >
		<meta name="keywords" content="{% block meta_keywords %}parks in boston, boston sports fields, parking in boston, boston area greenspaces, boston playgrounds, biketrails in boston, boston biketrails, boston art, boston monuments, urban wildlife, metro area parks {% endblock %} " >
{% endblock %}		

{% block headscripts %}
        <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'> 

		<style type="text/css" title="text/css">
		@media (max-width: 480px) {
		  
		}
		</style>
{% endblock %}

</head>

{% block bodyclass %}<body class="home">{% endblock %} 	
{% block topnav %}{% endblock %}

{% block content %} 
<div id="map_canvas" class="hidden-phone"></div>


<div class="container-fluid middle">
 <div class="row-fluid show-grid">
<div class="span12 middle">
<div class="well menu-box clearfix">
<div class="menu-box opacity">&nbsp;</div>
	<div class="menu-box-inner">
	<div class="scrollable-wrapper">
	<div class="menu-box-item">
	    <h1> Find a Green Space</h1>
	    <form method="get" action="">
			<select id='neighborhood_only' name='town'>
				<option SELECTED VALUE="">Select Your Neighborhood/Town</option>
				{% for neighborhood in neighborhoods %}
					<option value="{{neighborhood.slug}}">{{neighborhood.name}}</option>
				{% endfor %}
			</select>
			<noscript><input type="submit" value="Submit"></noscript>
			</form>
	    
	</div>
	
     <div id="play" class="menu-box-item play">
        <h1>Play!</h1>
        <h4>Browse parks and facilities by activity</h4>
     </div>
     
	  <a href="/explore/">
	  <div class="menu-box-item">
			<h1>Explore the Map</h1>
	    </div>
	  </a>
	  
	  <a href="/plan/">	  
	     <div class="menu-box-item">
			<h1>Plan a Trip</h1>
			<h4>By Bike or Preplanned Routes</h4>
	    </div>
	    </a>
	

	



<!--Stories-->

    <div id="stories">
        {% for story in stories|slice:":10" %}
        <h2>Recent Park Story About {{story.park}}</h2>
          <div class="parkstory" id="story_{{story.id}}">
            <div class="rating_{{ story.rating }}">
              <div class="flag-inapp flag"><i class="icon-flag icon-white hidden-phone"></i><i class="icon-flag visible-phone"></i>&nbsp;Flag as inppropriate</div>
              
              {% if story.title %}
              <div class="storytitle">{{ story.title }}</div>
              {% endif %}
              <div class="storytext storyshort">
                {{ story.text|truncatewords:40 }}
              </div>
              <div class="storytext storylong hide">
                {{ story.text }}
              </div>
              {% if story.text|wordcount > 40 %}        
                 <a class="read">Read more &raquo;</a>
                 <a class="readless hide">&laquo; Read less </a>
              {% endif %}
             
            </div>
          </div>
      
          {% endfor %}    </div>
<!-- end stories -->
</div>
</div>
</div>
</div>

</div>
</div>
{% endblock %}	
{% block javascript %}
    {{ block.super }}
        <script type="text/javascript">

            bp.parkfilter = {
                "area__gt": "10000"
            }

            // load default map
            bp.init_map();

            $(function() {

              $('#neighborhood_only').change(function() {
                window.location = ("/neighborhood/"+$(this).val()+"/");
              });

              // create and pair play dropdowns
              var $a_dd = bp.build_dropdown("#play", "activity");
              var $n_dd = bp.build_dropdown("#play", "neighborhood");
              bp.pair_dropdown([$a_dd, $n_dd]);
              // add play search button
              var playbutton = $("<button />", {
                "class": "btn",
                "href": "javascript:void(0)"
              })
              .html("Search")
              .on("click", function(e){
                var activity = $("select#activity option:selected").data("slug");
                var neighborhood = $("select#neighborhood option:selected").data("slug");
                if (activity && neighborhood) window.location = ("/neighborhood/" + neighborhood + "/" + activity + "/");
              });
              $("#play").append(playbutton);

            });
            
			$("a.read").click(function(){
				$(this).siblings(".storytext").toggle(400);
				$('a.readless').show();
				$('a.read').hide();
			});    
			$("a.readless").click(function(){
				$(this).siblings(".storytext").toggle(400);
				$('a.readless').hide();
				$('a.read').show();
			});
			{% for story in stories %}
				$("#story_{{story.id}} .flag").bind("click",function(){
					$.get('/story/flag/{{story.id}}/');
				});
			{% endfor %}
			

        </script>      
        
	{% endblock %}

</body>
</html>

