<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" >
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %} 
		</title>

		<meta name="description" content="{% block meta_description %}{% endblock %}" >
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %} " >
		{% block meta %}{% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
		
        <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery-1.7.2.min.js"></script> 
        <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.js"></script> 

		<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

<script>
$(document).ready(function () {

   $('#neighborhood_only').change(function() {
      window.location = ("/neighborhood/"+$(this).val()+"/");
    }); 


   $('#neighborhood_activity').change(function() {
       update_select($(this).val());
   }); 
   $('#neighborhood_neighborhood').change(function() {
       if ($(this).val() != "----"  && $('#neighborhood_activity').val() != "----"){
          window.location = ("/neighborhood/"+$(this).val()+"/"+$("#neighborhood_activity").val()+"/");
       }

   }); 

});
function update_select(activity){
     var out = '<option SELECTED VALUE="----">Select Your Neighborhood/Town</option>';
     $.ajax({
         url:'/api/v1/neighborhood/?format=json&activity='+activity,
         dataType:'json',
         success:function(json){
             $.each(json['objects'], function(key, obj) {
out+= '<option value="'+obj['slug']+'">' +obj['name']+'</option>';
             });
             $("#neighborhood_neighborhood").html(out);
             $("#neighborhood_neighborhood").selectedIndex = 0;
         }
     });
}
</script>

<style type="text/css" title="text/css">
@media (max-width: 480px) {
  body.home .well {
  background-color: transparent; 
  padding: 0;
  } 
  body.home .menu-box-inner {
  padding: 0px 20px;
  } 
  body.home .menu-box {
  padding: 0;
  }  
  body.home {
  padding: 0;
  } 
  body.home .container-fluid { 
  padding: 10px;
  }
  body.home .menu-box-item
  {
  padding: 10px;
  }
  body.home .menu-box-item form
  {
  margin-bottom: 4px;
  }
  h1 {
    font-size: 24px;
    line-height: 26px;
  }
}

</style>
	</head>

{% block bodyclass %}<body class="home">{% endblock %} 	
<div id="map_canvas" class="hidden-phone"></div>


<div class="container-fluid middle">
 <div class="row-fluid show-grid">
<div class="span12 middle">
<div class="well menu-box clearfix">
<div class="menu-box opacity">&nbsp;</div>
	<div class="menu-box-inner">
	<div class="menu-box-item">
	    <h1> Find a Green Space</h1>
	    <form method="get" action="">
			<select id='neighborhood_only' name='town'>
				<option SELECTED VALUE="">Select Your Neighborhood/Town</option>
				{% for neighborhood in neighborhoods %}
					<option value="{{neighborhood.slug}}">{{neighborhood.name}}</option>
				{% endfor %}
			</select>
			<noscript><input type="submit" value="Submit"></noscript>
			</form>
	    
	</div>
	
	
	<div class="menu-box-item">
		<h1>Play!</h1>
		<h4>Browse parks and facilities by activity</h4>
	        <form method="get" action="">
		    <select id='neighborhood_activity' name='town'>
		        <option SELECTED value="----">Select Your Activity</option>

		        {% for activity in activities %}
		    	<option value="{{activity.slug}}">{{activity.name}}</option>
		        {% endfor %}
		    </select>
		    
		    <select name='town' id='neighborhood_neighborhood'>
		    	<option SELECTED VALUE="----">Select Your Neighborhood/Town</option>
		    	{% for neighborhood in neighborhoods %}
		    		<option value="{{neighborhood.slug}}">{{neighborhood.name}}</option>
		    	{% endfor %}				
		    </select>
		    
		    
		    <noscript><input type="submit" value="Submit"></noscript>
		</form>
		
		
	  </div>
	    
	  <a href="/explore/">
	  <div class="menu-box-item">
			<h1>Explore the Map</h1>
	    </div>
	  </a>
	  
	  <a href="/explore/">	  
	     <div class="menu-box-item">
			<h1>Plan a Trip</h1>
			<h4>By Bike or Preplanned Routes</h4>
	    </div>
	    </a>
	

	</div>
	</div>
</div>

</div>
</div>
	
	{% block javascript %}
        {% include "_map_scripts.html" %}
		<script type="text/javascript" src="{{ STATIC_URL }}parkmap/js/main.js"></script>
        <script type="text/javascript">

            var parkfilter = {
                "area__gt": "10000"
            };

        </script>
	{% endblock %}

</body>
</html>

