{% extends 'parkmap/base.html' %} {% block title %}{% endblock %} {% block meta %}{% endblock %} {% block headscripts %}{% endblock %} {% block bodyclass %} 
<body class="neighborhood">
	{% endblock %} {% block content %} 
	<div class="container-fluid">
		<div class="span3">
			<div class="well">
			</div>
		</div>
		<div class="span6">
			<div class="well menu-box clearfix">
				<div class="menu-box opacity">
					&nbsp; 
				</div>
				<div class="menu-box-inner">
					<div class="menu-box-item">
						<h2>
							{{neighborhood.name}}
						</h2>
						
						{% for park in parks %} 
						<h4>
							<a href="/park/{{park.slug}}">{{park.name}}</a>
							{% for facility in park.facility_set.all %}
							{{facility.name}}
								{% for activity  in facility.activity.all %}
									 <br>&nbsp;&nbsp;&nbsp;&nbsp;{{activity.name}}
								{% endfor %}
							{% endfor %}
						</h4>
						{% endfor %} 
						
						
							  <a href="/explore/">
								  <div class="menu-box-hotdog">
										<h1>Explore the Map</h1>
									</div>
								  </a>
						
						
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="well">
			</div>
		</div>
	</div>
	{% endblock %} 
