{% extends 'parkmap/base.html' %} 
{% block title %}Parks and Greenspaces in Boston Metro Area Neighborhoods and Towns{% endblock %}
{% block meta %}
		<meta name="description" content="{% block meta_description %}Explore Boston parks and greenspaces with interactive maps and trip planner. Search by location or activity and discover the best of Boston parks.{% endblock %}" >
		<meta name="keywords" content="{% block meta_keywords %}explore boston, explore boston parks, find parks in boston metro area, parks in boston, boston sports fields, boston area greenspaces, {% endblock %} " >
{% endblock %}
{% block headscripts %}

{% endblock %}

{% block bodyclass %} 
<body class="neighborhood">
    {% endblock %} {% block content %} 
<div id="map_canvas" class="hidden-phone"></div>
    <div class="container-fluid middle">
 <div class="row-fluid show-grid">

        <div class="span12">
            <div class="well menu-box clearfix">
                <div class="menu-box opacity">
                    &nbsp; 
                </div>
                <div class="menu-box-inner">
                    <div class="menu-box-item">
                        <h2>
                            {{neighborhood.name}}
                        </h2>
                    <div class="verticalscroll">
                        {% for park in parks %} 
                        <div class="neighborhood-park">
                        <h4>
                            <a href="/park/{{park.slug}}">{{park.name}}</a></h4>
                            {% comment %}{% if park.description %}<span class="park_description">{{  park.description|truncatewords:30 }}</span><br>{% endif %}{% endcomment %}
                            {% for facility in park.facility_set.all %}
                            <a class="facility-icon" href="/park/{{park.slug}}" rel="tooltip" data-original-title="{{ facility.name }}"><img src="{{ facility.icon_url }}" alt="{{ facility.name }}"></a>
                            {% endfor %}

                        </div>
                        {% endfor %} 
                        
                    </div>
                              <a href="/explore/?neighborhood={{neighborhood.slug|urlencode}}">
                                  <div class="menu-box-hotdog">
                                        <h1>Explore the Map</h1>
                                    </div>
                                  </a>
                        
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    {% endblock %} 

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">

        bp.parkfilter = {
            "neighborhoods": "{{ neighborhood.id }}"
        }
        bp.mapconf = {
            "zoomtoparks": true
        }
        // load default map
        bp.init_map();

        $(function() {
            bp.adjust_layerswitcher();
        });
    
    </script>
{% endblock %}
