{% extends 'parkmap/base.html' %}
{% load markup %}

{% block title %}{% endblock %} 
{% block meta %}{% endblock %}
{% block headscripts %}{% endblock %}

{% block bodyclass %}
<body class="park">
{% endblock %} 	

    
{% block content %}     
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well">
					<h2>{{park.name}}</h2>
					<p>{% if park.description %}{{park.description|markdown}}{% endif %}</p>
					
					<p><strong>Access:</strong> Lorem ipsum dolor sit amet</p>
					<p><strong>Size:</strong> S0 acres</p>
					
					<h5>Get there!</h5>
					<p>MBTA: Park Street, Boylston Street Station</p>
					<p><a href="#">Plan a route</a></p>
					
					<h5>Owner &amp; Management</h5>
					<p>{{park.owner}}</p>
					<p>{{park.phone}}</p>
					<p><a href="#">Report a Problem</a></p>
					
					<h5>Get Involved</h5>
					<p><a href="#">Friends of Boston Common</a></p>

					<p>Upcoming events</p>
					<ul>
                                        {% for event in park.events.all %}
                                            <li><a href="/event/{{event.slug}}/{{event.id}}/">{{event.name}}</li>
                                        {% endfor %}
					<li><a href="#">Upload an event</a></li>
					</ul>
					
                                        {% if park.facilities.all %}
					    <h5>Contains the following facilities:</h5>
					    <ul>
                                            {% for facility in park.facilities.all %}
                                            <li>{{facility.name}}</li>
                                            {% endfor %}
					    </ul>
					{% endif %}
				
          </div><!--/.well -->
        </div><!--/span-->
			
        <div class="span2">
          <div class="well">
				
					<img class="park-pic" alt="" src="/static/images/1_1.gif">
					
					<form action="post" id="add-to-trip">
					
					<input type="submit" id="add-trip" name="add-trip" value="Add to Trip" />
					
					</form>
				
				
          </div><!--/.well -->
        </div><!--/span-->
			
			
			
        <div class="span7">
          <div class="hero-unit">
    {{park.geometry}}
		
			<img src="/static/images/fpo-map-733x278.jpg" alt="" width="730" height="278">
		
          </div><!--/.well -->
        </div><!--/span-->


    </div><!--/.fluid-container-->

{% endblock %}		

