{% extends 'parkmap/base.html' %}
{% load markup %}
{% load humanize %}

{% block title %}{% endblock %}
{% block meta %}{% endblock %}
{% block headscripts %}
   
<style type="text/css" title="text/css">
#map_canvas {
    background-color: #E5E3DF;
    bottom: 0;
    height: 300px;
    left: 0;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
}
</style>

{% endblock %}

{% block bodyclass %}
<body class="park">
{% endblock %} 
    
{% block content %}     
    <div class="container-fluid middle">
      <div class="row-fluid">
        <div class="span3">
          <div class="well">
					<h2>{{park.name}} {% if park.alt_name %}(<em>{{ park.alt_name }}</em>){% endif %}{% if park.parktype %}<br><span><small>{{ park.parktype }}</small><span>{% endif %}</h2>

                    {% if park.description %}<p>{{ park.description|markdown }}</p>{% endif %}
					
					<p><strong>Public access:</strong> {{ park.get_access_display }}</p>
                    <p><strong>Size:</strong> {{park.geometry.area|floatformat:"2"|intcomma}}</p>					
					<h5>Get there!</h5>
					{% if park.address %}<p>{{park.address}}</p>{% endif %}
					<p><a href="#">Plan a route</a></p>
					
					<h5>Owner &amp; Management</h5>
					{% if park.parkowner %}<p>{{ park.parkowner }}</p>{% endif %}
					{% if park.phone %}<p>{{ park.phone }}</p>{% endif %}
					<p><a href="#">Report a Problem</a></p>
					
					{% if park.friendsgroup %}
					<h5>Get Involved</h5>
					<p><a href="{{ park.friendsgroup.url }}">{{park.friendsgroup.name}}</a></p>
                    {% endif %} 

					<h5>Upcoming events</h5>
					<ul>
                                        {% for event in park.events.all %}
                                            <li><a href="/event/{{event.slug}}/{{event.id}}/">{{event.name}}</li>
                                        {% endfor %}
					<li><a href="#">Create an event</a></li>
					</ul>
					
                    {% if park.facility_set.all %}
					    <h5>Facilities and Acitivities:</h5>
					    <ul>
                                            {% for facility in park.facility_set.all %}
                                            <li>{{facility.name}}: {{ facility.activity_string }}</li>
                                            {% endfor %}
					    </ul>
					{% endif %}



                    {% if user.is_staff %}<p><a href="{% url admin:parkmap_park_change park.os_id %}">Edit Park information</a></p>{% endif %}
				
          </div><!--/.well -->
        </div><!--/span-->
			
        <div class="span2">
          <div class="well">
				
					
					
					
					<form action="post" id="add-to-trip">
					
					<input type="submit" id="add-trip" name="add-trip" value="Add to Trip" />
					
					</form>
				
				
          </div><!--/.well -->
        </div><!--/span-->
			
			
			
        <div class="span7">
          <div id="map_canvas" class="detail well">		
          </div><!--/.well -->
        </div><!--/span-->


    </div><!--/.fluid-container-->

{% endblock %}	

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">

        var parkfilter = {
            "os_id": "{{ park.os_id }}"
        };
        var mapconf = {
            "zoomtoextent": true,
            "loadfacilities": {
                "park__os_id": "{{ park.os_id }}"
            }
        };

    </script>
{% endblock %}	

