{% extends 'parkmap/base.html' %}
{% block title %}{% endblock %}
{% block meta %}{% endblock %}
{% block headscripts %}
<script>
    function get_new_filter(){
	var neighborhood = "{{neighborhood.slug}}";
	var activity = $("#neighborhood_activity");

        if ($('#neighborhood_activity :selected').index() > 0 ){
            var out = "";
	    var url = String.prototype.concat.apply("/ajax/", [neighborhood,"/",activity.val(),"/"]);
            $.ajax({
                url:url,
                dataType:'json',
                success:function(json){
                    $.each(json, function(key, obj) {
			//Start the header of the park
                    	out += "<h6>"+obj.name+"</h6><ul><li>"+obj.description+"</li><li>";
			//Loop through the activities	
                    	$.each(obj.activity, function(k, o) {
                    	    out += o.slug; // need to replace with images.
			});
                    	out += "</li></ul>";
                    });	
                    $("#parklist").html(out);
                }
	    });
	}
    }
    $(document).ready(function(){
   	 $('#neighborhood_activity').change(function() {
   	     get_new_filter();
   	 });
    });
    
</script>
{% endblock %}
{% block bodyclass %} 
<body class="play">
{% endblock %}
{% block content %} 
	<div class="container-fluid">
		<div class="span3">
			<div class="well">
			</div>
		</div>
		<div class="span6">
			<div class="well menu-box clearfix">
				<div class="menu-box opacity">
					&nbsp; 
				</div>
				<div class="menu-box-inner">
					<div class="menu-box-item">
						<form method="get" action="">
		    <select id='neighborhood_activity'>
		        <option SELECTED>Activities</option>
		        {% for activity in activities %}
		    	<option value="{{activity.slug}}">{{activity.name}}</option>
		        {% endfor %}
		    </select>
		    <h4>Search Results</h4> <br>
			<div id="parklist">
			{% for park in parks %} 
				<h6>{{park.name}}</h6>
				{% for activity in park.activity.all %}
					<br />{{activity.name}}
				{% endfor %}
			{% endfor %} 
			</div>
		</div>
            </div>
	</div>
    </div>
    <div class="span3">
        <div class="well">
	</div>
	</div>
    </div>
{% endblock %} 
