{% extends 'parkmap/base.html' %}
{% block title %}{% endblock %}
{% block meta %}{% endblock %}
{% block headscripts %}
<style>
	#parklist { list-style-type: none; margin: 0; padding: 0; }
	#parklist li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em;}
	#parklist li span { position: absolute; margin-left: -1.3em; }
</style>
{% endblock %}
{% block bodyclass %} 
<body class="plan">
{% endblock %}
{% block content %} 
<div id="map_canvas" class="hidden-phone"></div>
<div class="container-fluid middle">
  <div class="row-fluid show-grid bpa-draggable">
    <div class="span12">
      <div class="well menu-box clearfix">
        <div class="menu-box opacity">&nbsp;</div>
        <div class="menu-box-inner">
          <div class="menu-box-item">
              Saved Destinations
              <ul id="parklist" class="clearfix">
              {% for park in parks_in_queue %}
                <li class="ui-state-default parkitem clearfix" id="tripitem_{{park.os_id}}">
                        <h3>{{park.name}}</h3>
                        {% if park.description %}<span> {{park.description}}</span>{%endif %}
                        <input type='button' id='tripadd_{{park.os_id}}' class='add-trip-button' name='add-trip' value='X' alt='{{park.name}}' />
                </li>
              {% endfor %}
	      </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block javascript %}
    {{ block.super }}
<script>
    $(document).ready(function(){
        var trip_lat_longs = {
        {% for park in parks_in_queue %}'tripitem_{{park.os_id}}':{{park.lat_long}}{% if not forloop.last %}, {% endif %}{% endfor %}
        };
        $('#neighborhood_activity').bind("keypress change",(function() {
            if ($(this).val() != ""){
                //update_neighborhood( $(this).val(),"neighborhood_activity", 1);
                update_second_dropdown('neighborhood', 'activity', $(this).val(),'slug');
            }
        }));
        $('#neighborhood_neighborhood').bind("keypress change",(function() {
            play_get_parks(0);
        }));
        bp.park_trip_button_bind({{park_ids}},true);

        $("#parklist").sortable({
            update: function(event){
                bp.trip_generate_url(get_coords($("#parklist")));
           }
        });

        $("#parklist").disableSelection();

        //FIXME: I need to finish this, but I have to call it an early night
        function get_coords(list){
            console.log(list);
            var new_trip_list = [];
            list.children().each(function(){
                if($(this).attr('id') != undefined){
                    new_trip_list[new_trip_list.length] = $(this).attr('id');
                }
            });
            var waypoint_coords = [];
            for(var i = 0; i < new_trip_list.length;i++){
                waypoint_coords[waypoint_coords.length] = [trip_lat_longs[new_trip_list[i]][0], trip_lat_longs[new_trip_list[i]][1]];
            }
            return waypoint_coords;
        }
        bp.trip_generate_url(get_coords($("#parklist")));
    });

</script> 
{% endblock %}
