
/*** Footer ***/
.footer {
  background-color: rgba(0,120,0,0.8);
  // padding-left: 10%;
  // padding-top: 30px;
  // padding-bottom: 100px;
  padding: 20px;
  position: relative;
//  top: -930px;
  margin: 0 auto;

  .footer-content {
    max-width: 950px;
    margin: 0 auto;
  }

  .footer-text {
    color: white;
    font-size: 1.3em;
    font-weight: 400;
   }
 
  .twitter-container {
    //font-size: 1.1em;
    font-weight: 400;
    a {color: white;
    }
  }

  .footer-url {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .footer-right {
    right: 10%;
    display: inline-block;
    position: absolute;
  }

  .footer-address.footer-text {
    font-size: 1em;
  }
  .footer-number.footer-text {
    font-size: 1em;
  }

  .white-circle {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: white;
    display: inline-block;
    margin-right: 20px;
  }
}

// .twitter-container {
//   width: 500px;
//   height: 300px;
//   display: inline-block;
// }

