/*** Header ***/

  .logo { 
      display: inline-block;
      height: 70px;
      padding-bottom: 20px;
      padding-right: 1%;
      box-sizing: content-box;
  }

  .sitename {
      display:inline-block;
      font-size: 1.4em;
      font-weight: 200;
      color: rgb(12, 102, 49);
      position: relative;
      //  bottom: 11px;
      a
      {
        color: #428bca;
        text-decoration: none;
      //  font-weight: 700;
        cursor: pointer;
      }
  }

  #nav-index-beta {
    text-transform: lowercase;
    font-size: 0.7em;
  }
  .navlinks {
      text-decoration: none !important;
      color: rgb(47, 127, 84) !important;
      box-sizing: content-box;
      display: inline-block;
      font-size: 12px;
      position: absolute;
      right: 20px;
      top: 50px;
      a {
        text-decoration: none !important;
        color: rgb(47, 127, 84) !important;
      }
  }

  .navlink {
    cursor: pointer;
    display: inline-block;
    //font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    display:inline-block;
    font-size: 30px;
    color: rgb(12, 102, 49);
    position: relative;
    bottom: 11px;
  }

  .header {
    //position: fixed;
    max-width: 950px;
    margin: 0 auto;
    padding-top: 20px;
    text-transform: uppercase;
    .navbar-default {
      background-color: #ffffff;
    }
    .navbar {
      border: 0px;
    }
    .toggle-box {
     position: relative;
     float: right;
     margin-bottom: 10px;
     background-color: rgba(0,120,0,0.8);
     width: 75px;
     height:25px;
     //background-image: url('/static/img/map-image.png');
     //z-index:1200;
     //border-top: 100px solid transparent;
     //border-left: 100px solid #00a000;
    }
    .toggle-text {
    font-size: 1em;
    padding: 3px 7px 0 0;
    text-align: right;
    a {
    color: white;
    cursor: pointer;
     }
    }
  }

  .navbar-header {
    // height: 100px;
    // top: 40px;
    position: relative;
    width: 300px;
  }


  @media (max-width: 600px) {
    .sitename {
      a{
        display: none;
      }
     }
    .logo {
      margin-left: 10px;
    }
    .navbar-header {
      height: 50px;
      width: 100%;
      top:0;
    }
    .navbar-toggle {
      margin-right: 20px;
    }
    .header .toggle-box {
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 27px;
      width: 88%;
      float:left;
    }
    .header .toggle-text {
      text-align: center;
    }

  }