/*** Header ***/

  .logo {
      display: inline-block;
      height: 70px;
      padding-bottom: 20px;
      padding-right: 1%;
      box-sizing: content-box;
  }

  .sitename {
      display:inline-block;
      font-size: 1.4em;
      font-weight: 200;
      color: rgb(12, 102, 49);
      position: relative;
      //  bottom: 11px;
      a
      {
        color: #428bca;
        text-decoration: none;
      //  font-weight: 700;
        cursor: pointer;
      }
  }

  .navlinks {
      text-decoration: none !important;
      color: rgb(47, 127, 84) !important;
      box-sizing: content-box;
      display: inline-block;
      font-size: 12px;
      position: absolute;
      right: 20px;
      top: 50px;
      a {
        text-decoration: none !important;
        color: rgb(47, 127, 84) !important;
      }
  }

  .navlink {
    cursor: pointer;
    display: inline-block;
    //font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    display:inline-block;
    font-size: 30px;
    color: rgb(12, 102, 49);
    position: relative;
    bottom: 11px;
  }

  .header {
    //position: fixed;
    max-width: 950px;
    margin: 0 auto;
    padding-top: 20px;
    text-transform: uppercase;
    .navbar-default {
      background-color: #ffffff;
    }
    .navbar {
      border: 0px;
    }
  }

  .navbar-header {
    // height: 100px;
    // top: 40px;
    position: relative;
    width: 300px;
  }


  @media (max-width: 600px) {
    .sitename {
      font-size: 16px;
    }
    .logo {
      width: 25px;
      height: 25px;
    }
    .navbar-header {
      height: 50px;
      top:0;
    }

  }