.detail {

  .park-content {
    min-height: 713px;
    margin: 5px;
  }

  .circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
   background-color: lightgray;
  }

  .park-title {
    background-color: #fff;
    opacity: 0.85;
    margin-bottom: 20px;
    padding: 0px 10px;
    display: inline-block;
    min-width: 350px;
    h1{
      font-weight: 400;
      color: #556C98;
      margin: 5px 0;
    }
  }

  .park-description {
    background-color: #fff;
    opacity: 0.85;
    max-width: 350px;
    max-height: 425px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2em;
  }

  .park-activities {
    max-width: 350px;

    .park-activity {
      font-size: 24px;
      display: inline-block;
      background-color: white;
      color: #556C98;
      opacity: 0.85;
      height: 35px;
      width: 35px;
      border-radius: 35px;
      text-align:center;
    }
    .icon {
      padding-top:4px;
    }
  }

  .park-information {
    padding: 15px;
    margin-left: 15px;
    // margin-bottom: 180px;
  }

  .quick-facts {
    background-color: white;
    font-weight: 400;
    .orbs {
      margin: 0 auto;
      max-width: 950px;
      margin-bottom: 0px;
      }
    .item.circle {
      height: 150px;
      line-height: 150px;
      font-size: 2em;
      text-align: center;
      font-weight: 700;
      background-color: rgba(0,120,0,0.8);
      color: white;
    }
    #area {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }

  .recommended-parks {
    .orbs {
      margin: 0 auto;
      max-width: 950px;
      margin-bottom: 0px;
    }
  }

  .nearby-parks {
    .orbs {
      margin: 0 auto;
      max-width: 950px;
      margin-bottom: 0px;
    }
  }

  #orbs .item{
    margin: 3px;
  }
  #orbs .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  .owl-buttons {
    margin-bottom: 20px;
  }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
  opacity: 0.9;
  }
.tooltip-inner {
  color: #556C98;
  background: #fff;
  border: solid 1px #fff;
  opacity: 0.9;
}

  @media (max-width:600px) {
    .park-information {
      margin-bottom: 0px;
      margin-right: 5px;
      margin-left: 5px;
    }
    .park-title {
      min-width: 100%;
      margin-right: 0;
      h1{
      font-size: 1.3em;
      //margin: 5px 0;
      }
     }
    .park-description {
      overflow-y: auto;
      max-height: 200px;
      font-size: 1em;
    }
    .row {
      margin-right:0px;
      margin-left: 0px;
    }
  }
.quick-facts {
    margin: 0 15px;
  }
.recommended-parks {
    margin: 0 15px;
  }
.nearby-parks{
    margin: 0 15px;
  }
}