/*** Search ***/
.search-page {

  .name {
    background: white;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    bottom: 10px;
    font-family: Domine;
    font-size: 12px;
    left: 10px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    padding: 5px 3px;
    text-shadow: 0px 1px #aaa;
    height: 1.2em;
  }

  .gobutton {
    cursor: pointer;
    display: inline-block;
    padding: 8px 14px;
    font-family: "Domine";
    color: white;
    background-color: green;
    user-select: none;
    font-size: 1.5em;
    margin-top: 8px;
    // float: right;
  }

  .btn-group {
    margin: 3px;
  }


#carousel-example-generic {
  position: absolute;
  z-index: -1;
}

.carousel-inner {
  .item {
    img {
      width: 100%;
    }
  }
}

.select-width {
  display: block;
}


.floating-text {
  background-color: rgba(0,160,0,0.8);
  // position: absolute;
  z-index: 15;
  color: white;
  padding: 15px;
  top: 20px;
  left: 20px;
  max-width: 300px;
  select {
    width: 100%;
  }
}


  @media (max-width: 400px) {
    .floating-text {
      position: relative;
      max-width: 100%;

    }
  }
}