/*** Search ***/
.search-page {
  .name {
    background: white;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    bottom: 10px;
    font-family: Domine;
    font-size: 12px;
    left: 10px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    padding: 5px 3px;
    text-shadow: 0px 1px #aaa;
    height: 1.2em;
  }

  .gobutton {
    cursor: pointer;
    display: inline-block;
    padding: 8px 14px;
    font-family: "Domine";
    color: white;
    background-color: green;
    user-select: none;
    font-size: 1.5em;
    margin-top: 8px;
    // float: right;
  }

  .btn-group {
    margin: 3px;
  }

  .find-your-space {
    background-color: rgba(0,160,0,0.8);
    color: white;
    padding: 15px;
    max-width: 280px;
    margin-bottom:200px;
  }

  .featured {
    top: 350px;
    margin: 0 auto;
    max-width: 950px;
    margin-bottom: 0px;
  }

  #orbs .item{
    margin: 3px;
  }
  #orbs .item img{
    display: block;
    width: 100%;
    height: auto;
  }

  .featured-parks {
    background-color: lightgray;
    .orbs {
      margin: 0 auto;
      max-width: 950px;
      margin-bottom: 0px;
    }
  }


  @media (max-width:600px) {
    .find-your-space {
      max-width: 100%;
      margin-bottom: 0px;
    }
  }

}