.gobutton {
  cursor: pointer;
  display: inline-block;
  padding: 8px 14px;
  font-family: "Domine";
  color: white;
  background-color: green;
  user-select: none;
  font-size: 1.5em;
  margin-top: 8px;
  // float: right;
}