/* General styles */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,400,200);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  max-width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 400;
  margin: 0px;
  max-width: 100%;
  height: 100%;
  overflow-x: none;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-weight:400;
  color: #556C98;
}

a {
  color: #556C98;
}

#map {
  height: 70%;
  width:100%;
  display: none;
  margin-bottom: 20px;
}

#content-area {
  margin: 0 auto;
}
.map-park-activity {
  font-size: 24px !important;  
}

/* floating content over carousel behavior */
.center-content {
  // position: relative;
  display: block;
  // z-index: 1000;
  margin: 0 auto;
  max-width: 950px;
  }

#carousel-example-generic {
  //position: relative;
  z-index: -1;
  width:100%;
  // width: 2000px;
  overflow-x: hidden;
  margin: 0 auto;
  // top: 110px;
}

.carousel-inner {
  .item {
    .carousel-image {
      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 950px;
      min-width:800px;
      min-height:600px;
    }
  }
  position: absolute;
}

.select-width {
  display: block;
}

.floating-text {
  z-index: 15;
  margin: 0 auto;
  width: 100%
  select {
    width: 100%;
  }
}

.park-title-wrapper {
  background-color: white;
  position: relative;
  margin: 0 8px;

  .park-title {
    font-size: 1.3em;
    text-transform: uppercase;
   a{
      text-transform: capitalize;
    }
  }
}

#next { 
  max-width: 1200px;
  height: 60px;
  text-align: center;
  border-left: 4px solid;
  border-right: 4px solid;
  border-color: white;
  margin: 15px auto;
  background-color: #339333;
  cursor: pointer;
  h1 {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 900px) and (max-width: 1200px) {
  max-width: 900px;
   }
  @media (min-width: 600px) and (max-width: 900px) {
  max-width: 600px;
   }
  @media (min-width: 300px) and (max-width: 600px) {
  max-width: 300px;
   }
}

#next:hover {
  opacity: 0.5;
}

/* template-specific styles */

@import 'header';
@import 'search';
@import 'about';
@import 'footer';
@import 'park';
@import 'results';
@import 'carousel';



@media (max-width:600px) {
 .carousel-inner .item .carousel-image {
  width: 100%;
  min-width: 100%;
  min-height: 220px;
  }
  #carousel-example-generic {
    position: relative;
    top: auto;
  }
  .floating-text {
    width: 100%;
    max-width: 100%;
  }
  .search-page #menu {
    position: relative;
    top: -210;
  }
}
