/* General styles */

html {
  max-width: 100%;
  height: 100%;
}

body {
  font-family: "Domine";
  margin: 0px;
  max-width: 100%;
  height: 100%;
}

h1 {
  margin-top: 0px;
}

.center-content {
  max-width: 950px;
  margin: 0 auto;
}

#content-area {
  min-height: 500px;
  margin: 0 auto;
}

/* template-specific styles */

@import 'header';
@import 'search';
@import 'about';
@import 'footer';
@import 'park';
@import 'results';