/* General styles */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,400,200);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  max-width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 300;
  margin: 0px;
  max-width: 100%;
  height: 100%;
  overflow-x: none;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-weight:300;
}

#map {
  height: 500px;
  display: none;
}

#content-area {
  margin: 0 auto;
}

/* floating content over carousel behavior */
.center-content {
  // position: relative;
  display: block;
  // z-index: 1000;
  margin: 0 auto;
  max-width: 950px;
  }

#carousel-example-generic {
  //position: relative;
  z-index: -1;
  width:100%;
  margin: 0 auto;
  // top: 110px;
}

.carousel-inner {
  .item {
    .carousel-image {
      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 950px;
      min-width:800px;
      min-height:600px;
    }
  }
  position: absolute;
}

.select-width {
  display: block;
}

.floating-text {
  z-index: 15;
  margin: 0 auto;
  width: 100%
  select {
    width: 100%;
  }
}

.park-title-wrapper {
  background-color: white;
  position: relative;
  margin: 0 8px;
  // bottom: 20px;
 // right: 20px;
 // -webkit-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.75);
 // -moz-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.75);
 // box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.75);
  .park-title {
    //font-weight: 400;
    font-size: 1.3em;
    text-transform: uppercase;
   // margin-bottom: 0px;
  //  margin-top: 0px;
   //margin-left: 2px;
   //margin-right: 2px;
  }
}

#next { 
  width: 950px;
  height: 120px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #9cb428;
  cursor: pointer;
  h1 {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#next:hover {
  opacity: 0.5;
}

@media (max-width:600px) {
  #carousel-example-generic {
    position: relative;
    top: auto;
  }
  .floating-text {
    width: 100%;
    max-width: 100%;
  }
}

/* template-specific styles */

@import 'header';
@import 'search';
@import 'about';
@import 'footer';
@import 'park';
@import 'results';
@import 'carousel';