<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Interactive Maps of Boston Metro Area Parks and Greenspaces Presented by Boston Park Advocates {% endblock %} 
        </title>
        <meta name="description" content="{% block meta_description %}{% endblock %}" >
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %} " >

            {% block meta %}{% endblock %}

        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Cabin:400,500' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ STATIC_URL }}libs/leaflet/leaflet.css" />
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="{{ STATIC_URL }}libs/leaflet/leaflet.ie.css" />
        <![endif]-->
         
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/media.css">

{% block headscripts %}
        <script>document.documentElement.className = "js";</script>
{% endblock %}

    </head>

{% block bodyclass %}
<body>
{% endblock %}  
{% block topnav %}
<div id="topbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <select id="neighborhoods">
                  <option value="" selected>Select Your Neighborhood</option>
                  {% for n in neighborhoods %}
                    <option value="{{ n.pk }}">{{ n.name }}</option>
                  {% endfor %}
                </select>
              </li>
              <li>
                <select id="facility__activity">
                  <option value="" selected>Select Your Activity</option>
                  {% for a in activities %}
                    <option value="{{ a.pk }}">{{ a.name }}</option>
                  {% endfor %}
                </select>
              </li>
              <li>
                <input type="text" name="parkname" id="parkname" placeholder="Type a Park Name">     
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a class="home" href="/">HOME</a></li>
              <li><a class="plan" href="/plan/">PLAN A TRIP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
  
{% block content %}   
<div id="map_canvas"></div>     
{% endblock %}
    
{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}libs/leaflet/leaflet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/topojson.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/mapc-layers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}parks/js/jstorage.js"></script>
<script src="{{ STATIC_URL }}libs/jquery/jquery.url.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.js"></script> 
<!-- script type="text/javascript" src="{{ STATIC_URL }}parks/js/parks.js"></script -->
{% if user.is_staff %}<script type="text/javascript"> // bp.staff = true; </script>{% endif %}
{% endblock %}
	{% block footerscripts %}
	{% endblock %}
<script>
$(document).ready(function(){


  var searchUrl = '/parks/search/',
      parkParams = {},
      parkGeoms;


  // resize map_canvas
  var topmargin = $(".navbar").height();
  $("#map_canvas").css("margin-top", topmargin);
  $("#map_canvas").css("height", ($(window).height() - topmargin));
  $(window).on("resize", function(e){
    $("#map_canvas").css("height", ($(window).height() - topmargin));
  });


  // load new parks on dropdown change
  $("#neighborhoods, #facility__activity").on("change", function() {

    if ( $(this).val() !== "" ) {
      parkParams[ $(this).attr("id") ] = $(this).val();
    } else {
      delete parkParams[ $(this).attr("id") ];
    }

    filter_parks( searchUrl + "?" + $.param(parkParams) );
    history.pushState(parkParams, "BostonGreenMap - Find Your Space!", "?" + $.param(parkParams));

  });


  // load parks from browser history state or initial url
  window.onpopstate = function(event) {
    if ( 'state' in window.history && window.history.state !== null ) {
      filter_parks( searchUrl + "?" + $.param( event.state ) );
    } 
    // TODO: parse url on initial page load
  };


  // initialize map
  var basemap = new L.MAPCTileLayer("basemap"),
      boston = new L.LatLng(42.357778, -71.061667);
  var map = new L.Map( "map_canvas", {
    minZoom: 9,
    maxZoom: 17,
    zoom: 12,
    center: boston,
    layers: [basemap]
  });


  // initialize parkLayer
  var parkLayer = L.geoJson(null, {
    style: {
      color: "#fff",
      weight: 1,
      opacity: 1,
      fillColor: "#00DC00",
      fillOpacity: 0.6
    },
    onEachFeature: function (feature, layer) {
      layer.bindPopup( feature.id.toString() );
    },
    filter: function (feature, layer) {
      return true;
    }
  }).addTo(map);


  // map search result
  function filter_parks( url, zoom ) {

    $.getJSON( url , function(data) {
      
      var parks = data,
          parkNames = [],
          parkFilter = [];

      for(var p in parks) {
        parkNames.push(p);
        parkFilter.push(parks[p].id);
      }

      // update typeahead
      var autocomplete = $('#parkname').typeahead({
        updater: function (item) {
          var parkUrl = parks[ item ].url;
          window.location.assign( window.location.origin + parkUrl );
          return item;
        }
      });
      autocomplete.data('typeahead').source = parkNames;
      
      // remove existing parks from map
      parkLayer.clearLayers();

      // re-define GeoJSON filter
      parkLayer.options.filter = function(feature, layer) {
        if ( $.inArray( feature.id, parkFilter ) == -1 ) return false;
        return true;
      };

      // add parkgeometries to layer
      if ( parkFilter.length > 0 ) {
        var len = parkGeoms.length;
        while (len--) {
          parkLayer.addData(parkGeoms[len]);        
        }
        // zoom to park bounds or default zoomlevel
        if (zoom === undefined) {
          map.fitBounds(parkLayer.getBounds());
        } else {
          map.setZoom( zoom );
        }
      }

    });

  };
  

  // load initial park data
  $.getJSON("{{ STATIC_URL }}data/parks.topo.json", function (data) {
    var parksGeojson = topojson.object(data, data.objects.parks);
    parkGeoms = parksGeojson.geometries;
    filter_parks( searchUrl, 12 );
  });


});
</script>        

<!-- UserVoice Widget -->
<script type="text/javascript">
if ($(window).width() > 480) {
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/c4EsGot1BjCp0N0vaR9EOg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
  }
</script>

</body>
</html>

