<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Interactive Maps of Boston Metro Area Parks and Greenspaces Presented by Boston Park Advocates {% endblock %} 
        </title>
        <meta name="description" content="{% block meta_description %}{% endblock %}" >
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %} " >

            {% block meta %}{% endblock %}

        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Cabin:400,500' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/chosen/chosen.css" />

        <link rel="stylesheet" href="{{ STATIC_URL }}libs/leaflet/leaflet.css" />
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="{{ STATIC_URL }}libs/leaflet/leaflet.ie.css" />
        <![endif]-->
         
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/media.css">

{% block headscripts %}
        <script>document.documentElement.className = "js";</script>
{% endblock %}

    </head>

{% block bodyclass %}
<body>
{% endblock %}  
{% block topnav %}
<div id="topbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Boston Green Map</a>

          <div class="nav-collapse">
            <div class="navbar-search">
              <ul class="nav">
                <li>
                  <select data-placeholder="Select Your Neighborhood" class="parkfilter chzn-select" id="neighborhoods">
                    <option value=""></option>
                    <option value="">All</option>
                    {% for n in neighborhoods %}
                      <option value="{{ n.pk }}">{{ n.name }}</option>
                    {% endfor %}
                  </select>
                </li>
                <li>
                  <select data-placeholder="Select Your Activity" class="parkfilter chzn-select" id="facility__activity">
                    <option value=""></option>
                    <option value="">All</option>
                    {% for a in activities %}
                      <option value="{{ a.pk }}">{{ a.name }}</option>
                    {% endfor %}
                  </select>
                </li>
                <li>
                  <input type="text" class="search-query" name="parkname" id="parkname" placeholder="Type a Park Name">    
                </li>
              </ul>
            </div>
            <ul class="nav pull-right">
              <li><a class="plan" href="/plan/">PLAN A TRIP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
  
{% block content %}   
<div id="map_canvas"></div>     
{% endblock %}
    
{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}libs/leaflet/leaflet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/leaflet/Bing.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/topojson.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/mapc-layers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/chosen/chosen.jquery.min.js"></script>
<script src="{{ STATIC_URL }}parks/js/jstorage.js"></script>
<script src="{{ STATIC_URL }}libs/jquery/jquery.url.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.js"></script> 
<!-- script type="text/javascript" src="{{ STATIC_URL }}parks/js/parks.js"></script -->
{% if user.is_staff %}<script type="text/javascript"> // bp.staff = true; </script>{% endif %}
{% endblock %}
	{% block footerscripts %}
	{% endblock %}
<script>
$(document).ready(function(){


  var searchUrl = '/parks/search/',
      parkGeoms;


  // resize map_canvas
  var topmargin = $(".navbar").height();
  $("#map_canvas").css("margin-top", topmargin);
  $("#map_canvas").css("height", ($(window).height() - topmargin));
  $(window).on("resize", function(e){
    $("#map_canvas").css("height", ($(window).height() - topmargin));
  });


  // comboboxes instead of dropdowns
  $(".chzn-select").chosen();


  // get or set parkfilter dropdown values
  function set_dropdowns( config ) {
    // set dropdown values
    for ( var k in config ) {
      $( "#" + k ).val( config[k] ).trigger( "liszt:updated" );
    }
  }
  function get_dropdowns() {
    var params = {};
    $(".parkfilter").each( function( index ) {
      if ( $(this).val() ) params[ $(this).attr("id") ] = $(this).val();
    });
    return params;
  }


  // load parks from browser history state or initial url
  window.onpopstate = function(event) {
    if ( 'state' in window.history && event.state !== null) {
      set_dropdowns( event.state );
      filter_parks( searchUrl + "?" + $.param( event.state ) );    
    } else {
      var params = $.url().attr('query'),
          url = searchUrl;
      if ( params !== "" ) {
        set_dropdowns( $.url().param() );
        load_parkGeoms( searchUrl + '?' + params );
      } else {
        // load with default zoom level
        load_parkGeoms( url, 12 );
      }
    }
  };


  // load new parks on dropdown change
  $("#neighborhoods, #facility__activity").on("change", function() {
    var params = get_dropdowns();
    filter_parks( searchUrl + "?" + $.param(params) );
    history.pushState(params, "BostonGreenMap - Find Your Space!", "?" + $.param(params));
  });


  // initialize map
  var basemap = new L.MAPCTileLayer("basemap"),
      bing = new L.BingLayer("An8pfp-PjegjSInpD2JyXw5gMufAZBvZ_q3cbJb-kWiZ1H55gpJbxndbFHPsO_HN", "Aerial"),
      boston = new L.LatLng(42.357778, -71.061667);
  var map = new L.Map( "map_canvas", {
    minZoom: 9,
    maxZoom: 17,
    zoom: 12,
    center: boston,
    layers: [basemap]
  });
  

  // LocateMe map control
  var locateMeControl = new L.control({
    position: "topleft"
  });
  locateMeControl.onAdd = function (map) {
    // Leaflet control container DOM element
    var div = L.DomUtil.create('div', 'leaflet-control-zoom leaflet-bar leaflet-control');
    var $link = $( "<a/>", {
      class: "leaflet-control-geoloc",
      title: "Locate Me"
    }).appendTo( $(div) );
    $link.on( "click", function( event ) {
      event.preventDefault();
      // geolocate
      map.locate({setView: true, maxZoom: 17});
    });
    return div;
  }; 
  map.addControl(locateMeControl);


  // initialize parkLayer
  var parkLayer = L.geoJson(null, {
    style: {
      color: "#fff",
      weight: 1,
      opacity: 1,
      fillColor: "#00DC00",
      fillOpacity: 0.6
    },
    onEachFeature: function (feature, layer) {
      layer.bindPopup( feature.id.toString() );
    },
    filter: function (feature, layer) {
      return true;
    }
  }).addTo(map);


  // Layer control
  map.addControl(new L.Control.Layers( {
      "MAPC Basemap": basemap, 
      "Bing Aerial": bing 
    }, {
      "Parks": parkLayer
    } )
  );


  // map search result
  function filter_parks( url, zoom ) {

    $.getJSON( url , function(data) {
      
      var parks = data,
          parkNames = [],
          parkFilter = [];
      for(var p in parks) {
        parkNames.push(p);
        parkFilter.push(parks[p].id);
      }

      // update typeahead
      var autocomplete = $('#parkname').typeahead({
        updater: function (item) {
          var parkUrl = parks[ item ].url;
          // window.location.assign( window.location.origin + parkUrl );
          show_parkDetail( parks[ item ].id );
          return item;
        }
      });
      autocomplete.data('typeahead').source = parkNames;
      
      // remove existing parks from map
      parkLayer.clearLayers();

      // re-define GeoJSON filter
      parkLayer.options.filter = function(feature, layer) {
        if ( $.inArray( feature.id, parkFilter ) == -1 ) return false;
        return true;
      };

      // add parkgeometries to layer
      if ( parkFilter.length > 0 ) {
        var len = parkGeoms.length;
        while (len--) {
          parkLayer.addData(parkGeoms[len]);        
        }
        // zoom to park bounds or default zoomlevel
        if (zoom === undefined) {
          map.fitBounds(parkLayer.getBounds());
        } else {
          map.setZoom( zoom );
        }
      }
    });
  };


  // loads all park geometries
  function load_parkGeoms( url, zoom ) {
    $.getJSON("{{ STATIC_URL }}data/parks.topo.json", function (data) {
      var parksGeojson = topojson.object(data, data.objects.parks);
      parkGeoms = parksGeojson.geometries;
      filter_parks( url, zoom );
    });
  }

  // park detail slider
  function show_parkDetail( park ) {
    console.log( park );
  }

});
</script>        

<!-- UserVoice Widget -->
<script type="text/javascript">
if ($(window).width() > 480) {
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/c4EsGot1BjCp0N0vaR9EOg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
  }
</script>

</body>
</html>

